.table.list
  - roles.each do |role|
    .tr
      - if role.event_role?
        .td
          = link_to role.event.name, events_home_path(id: role.event, slug: role.event.slug)
        .td
          = link_to role.venue.name, venues_show_path(role.venue, role.venue.slug)
        .td
          = role.event.date_str
      .td.text-right
        = role.role_type.title
      - if current_user&.admin? || role.owner?(current_user)
        .td.text-right
          = link_to 'Delete', role_path(role), class: 'danger confirm', title: 'Delete this role', method: 'DELETE'
