- present @profile do |profile|
  - content_for :page_title do
    = "Add role to #{profile.title}"

  = simple_form_for(@role, url: profiles_create_role_path, method: :post) do |f|
    = f.simple_fields_for :event do |ef|
      = f.input :event_id, as: :hidden,input_html: { class: 'event_lookup_id' }
      = ef.input :venue_id, as: :hidden, input_html: { class: 'venue_lookup_id' }
      = ef.input :town_id, as: :hidden, input_html: { class: 'town_lookup_id' }
      = f.input :role_type_id, as: :hidden, input_html: { class: 'role_type_lookup_id' }
      .panel.add-role-to-profile
        .panel-head
          Part 1
        .panel-body
          .row
            = ef.input :venue_name, as: :string, label: 'Where did you work/are going to work? eg: The Rickshaw theatre', required: true, placeholder: 'Search for a venue', input_html: { autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off', class: 'venue_lookup' }
            .venue_lookup_list.lookup_list
          .venue_address.hidden
            .row
              = ef.input :venue_address, as: :text, label: 'Venue address', required: false, input_html: { class: 'venue_address' }
            .row
              = ef.input :town_name, as: :string, label: 'Town or City', required: false, placeholder: 'Search for a place', input_html: { autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off', class: 'town_lookup' }
              .town_lookup_list
          .row.date_input
            = ef.input :date, as: :date, label: 'What date will this work happen or did it happen?', required: true,  input_html: { class: 'event_date' }

      .panel.event_panel
        .panel-head
          Part 2
        .panel-body
          .event_lookup_list_holder

          .new-events
            %h2 Create a new event
            .new_event_form
              .row
                = ef.input :name, required: false, as: :string, label: 'Name of the event. Eg. Metallica',  input_html: { autocomplete: 'on', autocapitalize: 'on', autocorrect: 'on', class: 'event_name' }
              .row
                = ef.input :event_type_id, collection: @departments, as: :grouped_select, group_method: :event_types, label_method: :title, label: 'What type of event is it?', prompt: 'Select a type of event'

      .panel.role_type_panel
        .panel-head
          Part 3
        .panel-body
          .row
            = f.input :role_type_name, as: :string, label: 'What did you do/are going to do? eg: Lighting engineer', required: true, placeholder: 'Search for types of work', input_html: { autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off', class: 'role_type_lookup' }
            .role_type_lookup_list.lookup_list
      .row.submit-row
        = f.submit 'Add Job'
      .row
        = link_to 'Cancel', profile_home_path(username: profile.username)
