- present @profile do |profile|
  - content_for :page_title do
    = "Claim #{profile.name}"

  .panel
    .panel-head
      Claim your profile
    .panel-body
      .message
        .row
          Claiming your profile lets you control what jobs you are credited for.
          You can be messaged when someone else credits you for work done, and
          you can remove any inaccurate information.
        .row
          And it'll stop anyone else owning it.

      - if current_user.nil?
        = simple_form_for(@user, url: profiles_register_claim_path, method: :post) do |f|
          .row
            = f.input :email, as: :email, label: 'Email', placeholder: 'Email'
          .row
            = f.input :password, as: :password, label: 'Password', placeholder: 'Password'
          .row
            = f.input :password_confirmation, as: :password, label: 'Password again', placeholder: 'Password confirmation'
          .message
            By joining CrewdB you agree to our
            = link_to 'terms and conditions', pages_terms_path, target: '_blank'
          .row
            = f.submit 'Claim this profile'

      - else
        .message
          .message
            By claiming this profile you agree to our
            = link_to 'terms and conditions', pages_terms_path, target: '_blank'
        = link_to profiles_claim_path(id: profile.id), { class: 'claim-btn', method: 'POST' } do
          %h3 Claim this profile now
