- present @profile do |profile|
  - content_for :page_title do
    = profile.name

  %h1.content-title
    = profile.name
  .panel
    .panel-head
      Overview
      - if current_user&.admin?
        = link_to 'Edit', edit_profile_path(profile), class: 'edit-link'
    .panel-body
      .row
        = profile.overview

      - if profile.biography.present?
        .row
          %h4 Biography
          = profile.biography

  - if profile.unowned? && current_user&.profile.nil?
    = link_to profiles_claim_path(id: profile.id), { class: 'claim-btn' } do
      %h3 Is this you?
      Claim your profile

  - if profile.owner?(current_user)
    = link_to profiles_claim_path(id: profile.id), { class: 'claim-btn' } do
      %h3 Something missing?
      Get credit for your work

  .panel
    .panel-head
      Work
    .panel-body
      %table.list
        - profile.roles.each do |role|
          %tr
            %td
              - if role.event_role?
                - present role.event do |event|
                  = link_to event.full_title, event_path(event)
              - if role.tour_role?
                - present role.tour do |tour|
                  = link_to tour.name, tour_path(tour)
            %td.text-right
              = role.role_type.title

  = render 'logs/log_list', logs: profile.logs
