- present @profile do |profile|
  - content_for :page_title do
    = profile.title

  %script{:type=>"text/javascript"}
    var map_locations = [
    - profile.role_coords.each do |role_coords|
      = raw "[#{role_coords[0]},#{role_coords[1]},\"#{role_coords[2]}\"],"
    ]
  %h1.content-title
    = profile.title
  .panel
    .panel-head
      Overview
      - if profile.owner?(current_user)
        = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'edit-link'
      - if current_user&.admin? || profile.owner?(current_user)
        = link_to 'Edit', edit_profile_path(profile), class: 'edit-link'
    - if profile.roles.any?
      #venue_map.wide-map
    .panel-body
      .row
        = profile.overview

      - if profile.biography.present?
        .row
          %h4 Biography
          = profile.biography

  - if profile.unowned? && current_user&.profile.nil?
    = link_to profiles_claim_path(id: profile.id), { class: 'claim-btn' } do
      %h3 Is this you?
      Claim your profile

  - if current_user.present? && profile.owner?(current_user)
    = link_to profiles_add_role_path(id: profile.id), { class: 'claim-btn' } do
      %h3 Something missing?
      Get credit for your work

  - if profile.future_roles.any?
    .panel
      .panel-head
        Future work
      .panel-body
        = render 'profile_roles_list', roles: profile.future_roles
  - if profile.past_roles.any?
    .panel
      .panel-head
        Past work
      .panel-body
        = render 'profile_roles_list', roles: profile.past_roles


  = render 'logs/log_list', logs: profile.logs
