- present @profile do |profile|
  - content_for :page_title do
    = profile.title

  %h1.content-title
    = profile.title
  .panel
    .panel-head
      Overview
      - if profile.owner?(current_user)
        = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'edit-link'
      - if current_user&.admin?
        = link_to 'Edit', edit_profile_path(profile), class: 'edit-link'
    .panel-body
      .row
        = profile.overview

      - if profile.biography.present?
        .row
          %h4 Biography
          = profile.biography

  - if profile.unowned? && current_user&.profile.nil?
    = link_to profiles_claim_path(id: profile.id), { class: 'claim-btn' } do
      %h3 Is this you?
      Claim your profile

  - if current_user.present? && profile.owner?(current_user)
    = link_to profiles_add_role_path(id: profile.id), { class: 'claim-btn' } do
      %h3 Something missing?
      Get credit for your work

  .panel
    .panel-head
      Work
    .panel-body
      .row
        %h3 Future work
        = render 'profile_roles_list', roles: profile.future_roles
      .row
        %h3 Past work
        = render 'profile_roles_list', roles: profile.past_roles


  = render 'logs/log_list', logs: profile.logs
