- present @profile do |profile|
  .panel
    .panel-head
      = profile.name
      - if current_user&.admin?
        = link_to 'Edit', edit_profile_path(profile), class: 'edit-link'
    .panel-body
      %h3 Overview
      = profile.overview
      %h3 Events
      %table.list
        - profile.roles.each do |role|
          %tr
            %td
              - if role.event_role?
                - present role.event do |event|
                  = link_to event.full_title, event_path(event)
              - if role.tour_role?
                - present role.tour do |tour|
                  = link_to tour.name, tour_path(tour)
            %td.text-right
              = role.role_type.title
