- present @event_department do |event_department|
  - content_for :page_title do
    New event department

  = simple_form_for(event_department, url: event_departments_path, method: :post) do |f|
    .panel
      .panel-head
        New event department
      .panel-body
        .message
          You're adding a new event department. event types sit in a event department.
          Like, lighting engineer is in lighting, or drumming is in lame.
        .row
          = f.input :name, as: :string, label: 'Name', placeholder: 'Give it a name'
        .row
          = f.input :description, label: 'Keywords'
        .row
          = f.submit 'Add department'

  .panel
    .panel-head
      = "Existing Departments (#{@existing_event_departments.count})"
    .panel-body
      - @existing_event_departments.each do |department|
        .row
          = department.name
          .pull-right
            = department.event_types.count
            event types
