- content_for :page_title do
  Admin role departments

.panel
  .panel-head
    Role departments
    = link_to 'New', new_role_department_path, class: 'pull-right'
  .panel-body
    %table.list
      - @departments.each do |department|
        - present department do |department|
          %tr
            %td
              = department.id
            %td
              = department.name
            %td{class: department.role_types.count.zero? ? 'grey' : ''}
              = department.role_types.count
              role types
            %td.text-right{title: 'Created'}
              = department.created_date
            %td.text-right
              = link_to 'Delete', role_department_path(department), title: 'delete', method: 'DELETE', class: 'danger confirm'
    = paginate @departments
