- content_for :page_title do
  Admin events

.panel
  .panel-head
    - if @type.present?
      = "#{@type.title} Events"
    - else
      Events
    = link_to 'New', new_event_path, class: 'pull-right'
  .panel-body
    .table.list
      - @events.each do |event|
        - present event do |event|
          .tr{valign: 'top'}
            .td
              = link_to 'Edit', edit_event_path(event)
            .td
              = link_to event.name.truncate(30), events_home_path(id: event, slug: event.slug)

            .td
              = event.venue.name

            .td{title: 'when this event is happening'}
              = event.date_str_sml

            .td{class: event.roles.count.zero? ? 'grey' : ''}
              = "#{event.roles.count} #{'role'.pluralize(event.roles.count)}"

            .td{title: event.user.email}
              = event.user.name
              .grey
                = event.created_date
            .td
              = link_to 'Delete', event_path(event), title: 'delete', method: 'DELETE', class: 'danger confirm'
    = paginate @events
