- content_for :page_title do
  Admin index

.panel
  .panel-head
    Records
  .panel-body
    %table.list
      %tr
        %td
          = @profiles.count
        %td
          = link_to 'Profiles', admin_profiles_path
        %td
          Most Recent:
          - present @profiles.last do |profile|
            = profile.created_date
      %tr
        %td
          = @roles.count
        %td
          = link_to 'Roles', admin_roles_path
        %td
          Most Recent:
          - present @roles.last do |role|
            = role.created_date
      %tr
        %td
          = @events.count
        %td
          = link_to 'Events', admin_events_path
        %td
          Most Recent:
          - present @events.last do |event|
            = event.created_date
      %tr
        %td
          = @tours.count
        %td
          = link_to 'Tours', admin_tours_path
        %td
          Most Recent:
          - present @tours.last do |tour|
            = tour.created_date
      %tr
        %td
          = @venues.count
        %td
          = link_to 'Venues', admin_venues_path
        %td
          Most Recent:
          - present @venues.last do |venue|
            = venue.created_date
