- content_for :page_title do
  Admin profiles

.panel
  .panel-head
    Profiles
  .panel-body
    %table.list
      - @profiles.each do |profile|
        - present profile do |profile|
          %tr
            %td
              = profile.id
            %td
              = link_to 'Edit', edit_profile_path(profile)
            %td
              = link_to profile.title, profile_path(profile)
            %td
              = profile.created_date
            %td
              = "#{profile.roles.count} #{'role'.pluralize(profile.roles.count)}"
            %td
              = "#{profile.events.count} #{'event'.pluralize(profile.events.count)}"
            %td
              = profile.user&.email
            %td
              = profile.yes_or_no(:verified)
            %td
              = link_to 'Delete', profile_path(profile), class: 'danger confirm', title: 'Delete this profile', method: 'DELETE'
  = paginate @profiles
