- content_for :page_title do
  Admin users

.panel
  .panel-head
    Users
  .panel-body
    .table.list
      .thead
        .tr
          .td
            Email
          .td.text-center
            Last seen
          .td
            logs
          .td
          .td
      - @users.each do |user|
        - present user do |user|
          .tr{valign: 'top'}
            .td.mobile-title{class: user.banned? ? 'danger' : ''}
              = user.email
            .td.text-center
              = user.formatted_time_sml(:last_seen)
            .td.mobile-30
              = user.logs.count
              ev
            .td.mobile-30.text-center
              = link_to 'Edit', edit_user_path(user)
            .td.mobile-30.text-right
              - unless user.banned?
                = link_to 'Ban', user_path(user), method: 'DELETE', class: 'confirm danger', title: 'Ban this user'
    = paginate @users
