- content_for :page_title do
  Admin venues

.panel
  .panel-head
    = "Venues (#{@venues.total_count})"
    = link_to 'New', new_venue_path, class: 'pull-right'
  .panel-body
    .table.list
      - @venues.each do |venue|
        - present venue do |venue|
          .tr
            .td
              = link_to 'Edit', edit_venue_path(venue)
            .td
              = link_to venue.title, venues_show_path(venue, venue.slug)
            .td
              = "#{venue.town.title}, #{venue.town.country_iso}"
            .td
              = venue.created_date
            .td.text-right
              = venue.events.count
              Events
    = paginate @venues
