- content_for :page_title do
  Admin venues

.panel
  .panel-head
    Venues
    = link_to 'New', new_venue_path, class: 'pull-right'
  .panel-body
    .table.list
      - @venues.each do |venue|
        - present venue do |venue|
          .tr
            .td
              = link_to 'Edit', edit_venue_path(venue)
            .td
              = link_to venue.full_title, venue_path(venue)
            .td
              = venue.created_date
            .td.text-right
              = venue.events.count
              Events
    = paginate @venues
