.table.list
  - events.each do |event|
    - present event do |event|
      .tr
        .td.mobile-title
          = link_to event.name, event_path(event)
        -# don't show venue info if we're on a venue page
        - unless defined? venue
          .td
            = link_to event.venue_title, venue_path(event.venue)
          .td.mobile-30
            = event.venue.town_title
        .td.mobile-30
          = event.date_str
        .td.text-right.mobile-30
          = "#{event.all_roles.count} crew"
