%table.list
  - events.each do |event|
    - present event do |event|
      %tr
        %td
          = link_to event.name, event_path(event)
        %td
          - unless defined? venue
            = link_to event.venue_title, venue_path(event.venue)
        %td
          = event.date_str
        %td.text-right
          = "#{event.all_roles.count} crew"
