- present @event do |event|
  - content_for :page_title do
    = "#{event.full_title} - Edit"

  = simple_form_for(@event, url: event_path, method: :put) do |f|
    = f.input :venue_id, as: :hidden, input_html: { class: 'venue_lookup_id' }
    .panel
      .panel-head
        Edit event
      .panel-body
        .message
          You're editing a event. It's easy, just fill in this form.
        .row
          = f.input :name, as: :string, label: false, placeholder: 'Event title'
        .row
          = f.input :description, label: false, placeholder: 'Event description'
        .row
          = f.association :event_type, label_method: :title, label: 'What type of event is it?', prompt: 'Select a type of event'
        .row
          = f.input :lookup_query, as: :string, label: "What's the venue?", |
          required: true, placeholder: 'Search for a venue', input_html: {value: event&.venue&.title, autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off', class: 'venue_lookup' }
          .venue_lookup_list
          .venue_address.hidden
            .message
              Currently unsupported. Sorry.
        .row
          = f.input :date, label: 'When is it?'
        .row
          = f.submit 'Update Event'
        .row
          = link_to 'Cancel', event_path(event)
  = render 'logs/log_list', logs: event.logs
