- present @event do |event|
  - content_for :page_title do
    New event

  = simple_form_for(@event, url: events_path, method: :post) do |f|
    = f.input :tour_id, as: :hidden
    = f.input :venue_id, as: :hidden, input_html: { class: 'venue_lookup_id' }
    .panel
      .panel-head
        Add event
      .panel-body
        .message
          - if event.venue.present?
            You're adding an event to
            %em
              = event.venue.title
          - else
            You're adding a new event. It's easy, just fill in this form.
        - if event.errors.any?
          .alert
            = event.errors.full_messages.to_sentence
        .row
          = f.input :name, as: :string, label: 'Event title', placeholder: 'Event title'
        .row
          = f.input :description, label: false, placeholder: 'Event description'
        .row
          = f.input :event_type_id, collection: @departments, as: :grouped_select, group_method: :event_types, label_method: :title, label: 'What type of event is it?', prompt: 'Select a type of event'
        - if event.venue.nil?
          .row
            = f.input :lookup_query, as: :string, label: "What's the venue?", |
            required: true, placeholder: 'Search for a venue', input_html: {value: event&.venue&.title, autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off', class: 'venue_lookup' }
            .venue_lookup_list
        .row
          = f.input :date, label: 'When is it?', end_year: Date.today.year - 20, start_year: Date.today.year + 3, include_blank: false
        .row
          = f.submit 'Add event'
