- present @event do |event|
  - content_for :page_title do
    = event.full_title

  .panel
    .panel-head
      - if event.on_tour?
        = link_to 'Tour > ', tour_path(event.tour)
      = event.full_title

      = link_to 'Edit', edit_event_path(event), class: 'edit-link'
    .panel-body
      %h3 Crew

      = render 'roles/role_list', roles: event.all_roles

      .row
        = link_to 'Add crew', new_role_path(event_id: event.id), class: 'button'
