- present @event do |event|
  - content_for :page_title do
    = event.full_title

  .panel
    .panel-head
      = event.name
      = event.date_str

      = link_to 'Edit', edit_event_path(event), class: 'edit-link'
    .panel-body
      .table.list
        .tr
          .td
            Venue
          .td
            = link_to event.venue_title, venue_path(event.venue)
        .tr
          .td
            Date
          .td
            = event.date_str
        .tr
          .td
            Town
          .td
            = event.town_title
      .row
        %h3 Crew
        = render 'roles/role_list', roles: event.all_roles

      .row
        = link_to 'Add crew', new_role_path(event_id: event.id), class: 'button'

  = render 'logs/log_list', logs: event.logs
