- present @event do |event|
  - content_for :title do
    = event.full_title

  .panel
    .panel-head
      = link_to event.full_title, event_path(event)
      = link_to 'Edit', edit_event_path(event), class: 'edit-link'
    .panel-body
      %h3 Crew

      %table.roles
        - event.roles.each do |role|
          %tr
            %td
              = role.profile.title
            %td
              = role.role_type.title
      .row
        = link_to 'Add crew', new_role_path(event_id: event.id), class: 'button'
