- present @tour do |tour|
  - content_for :title do
    = tour.name
    Edit

  = simple_form_for(@tour, url: tour_path, method: :put) do |f|
    .panel
      .panel-head
        = tour.name
        Edit
      .panel-body
        .row
          = f.input :name, label: "What do you want to call this tour?", placeholder: "Example: Massive Attack 2019"
        .row
          = f.association :tour_type, label: "What kind of tour is it?", prompt: "Pick one of these"
        .row
          = f.input :verified, label: "Verified"
        .row
          = f.submit 'Update Tour'
