
- image_index = rand(1..7)
- photographer = ['','Israel palacio', 'Hannah Gibbs', 'Matthias Wagner', 'Yvette de Wit', 'Tajmia Loiacono', 'William White', 'Kai Kuczera'][image_index]
.pages.home-page
  .hero-banner{class: "banner-type-#{image_index}"}
    .title-col
      %h1
        Discover the people
        %br
        behind the world's
        %br
        live events

      %h5
        Giving credit where it’s due to the unsung heroes.
    .credit
      = "Photo by #{photographer} on Unsplash"

  .content

    .pane
      %h2.text-center
        Search
      .mini-row.text-center
        You can search for venues, events, artists and crew. Search for an event,
        see who worked on it and then see what other events they have been
        involved in.
      .search-form.mini-row
        = simple_form_for(:search, url: search_global_path, method: :post) do |f|
          = f.input :query, as: :string, label: false, input_html: {value: @query_str, class: 'allow-enter disable-auto-select'}, placeholder: 'Start searching'
          = f.submit 'Go', label: false, class: 'button green-btn'

    - if current_user.nil?
      .pane
        %h2.text-center
          Join us
        .mini-row.text-center
          You can add and update the site by signing up. We won't give your email
          address to anyone else. Promise.
          CrewdB will always be free to use.
        .mini-row
          = link_to new_user_registration_path, { class: 'claim-btn' } do
            %h3 Sign up

    - else
      - if current_user.has_profile?
        .pane
          %h2.text-center
            Get credit for your work
          .mini-row.text-center
            Let people know what you've done. Keep track of your jobs.
            Make a list of why you're awesome.
          .mini-row
            = link_to profiles_add_role_path(id: current_user.profile.id), { class: 'claim-btn' } do
              %h3 Add work
      - else
        .pane
          %h2.text-center
            Work in the industry?
          .mini-row.text-center
            Maybe you're already in our system, maybe you should be.
            Get a profile to be listed, to track your jobs and to be awesome.
          .mini-row
            = link_to new_profile_path, { class: 'claim-btn' } do
              %h3 Get a profile

    .pane
      %h2.text-center
        What's been happening?
      .panel
        .panel-head
          Recent events
        .panel-body
          = render 'events/event_list', events: @recent_events

    .pane
      %h2.text-center
        Who's been active?
      .panel
        .panel-head
          Recently added work
        .panel-body
          = render 'recent_role_list', roles: @recent_roles
