- present @venue do |venue|
  - content_for :page_title do
    = venue.title

  .panel
    .panel-head
      = venue.title
      - if current_user&.admin?
        = link_to 'Edit', edit_venue_path(venue), class: 'edit-link'
    .panel-body
      .address-panel
        .row
          = venue.address
        .row
          = venue.town_title
        .row
          = "#{venue.capacity} Capacity"
        - if venue.url.present?
          .row
            = link_to venue.safe_url, venue.safe_url, target: '_blank'
      .events
        %h3 Events
        = render 'events/event_list', events: venue.events, venue: venue
        .row
          = link_to 'Add event', new_event_path(venue_id: venue.id), class: 'button'
