- present @venue do |venue|
  - content_for :page_title do
    = venue.title

  .panel
    .panel-head
      = venue.title
      - if current_user&.admin?
        = link_to 'Edit', edit_venue_path(venue), class: 'edit-link'
    .panel-body
      .address-panel
        .row
          = link_to venue.address, venue.address_url, target: '_blank'
        .row
          = venue.town_title
        - if venue.capacity.present?
          .row
            = "#{venue.capacity} Capacity"
        - if venue.url.present?
          .row
            = link_to venue.safe_url, venue.safe_url, target: '_blank'
      .events
        - if venue.future_events.any?
          .row
            %h3 Upcoming Events
            = render 'events/event_list', events: venue.future_events, venue: venue
        - if venue.past_events.any?
          .row
            %h3 Past Events
            = render 'events/event_list', events: venue.past_events, venue: venue
        .row
          = link_to 'Add event', new_event_path(venue_id: venue.id), class: 'button'
