- content_for :page_title do
  = "Searching for #{@query_str}"

- if @events.empty? && @venues.empty? && @profiles.empty?
  .warning
    Nothing found for
    = @query_str

- if @events.any?
  .panel
    .panel-head
      = "#{@events.count} #{'event'.pluralize(@events.count)} for"
      %em
        = @query_str
    .panel-body
      = render 'events/event_list', events: @events

- if @venues.any?
  .panel
    .panel-head
      = "#{@venues.count} #{'venue'.pluralize(@venues.count)} for"
      %em
        = @query_str
    .panel-body
      = render 'venues/venue_list', venues: @venues

- if @profiles.any?
  .panel
    .panel-head
      = "#{@profiles.count} #{'profiles'.pluralize(@profiles.count)} for"
      %em
        = @query_str
    .panel-body
      = render 'profiles/profile_list', profiles: @profiles
