- present @role do |role|
  - content_for :title do
    Add crew to
    = @title

  = simple_form_for(@role, url: roles_path, method: :post) do |f|
    = f.input :event_id, as: :hidden
    = f.input :tour_id, as: :hidden
    .panel
      .panel-head
        Add crew
      .panel-body
        .message
          = "You're adding cast or crew to #{@title}."
        .row
          = f.input :profile_name, as: :string, label: 'Who?', required: true, placeholder: 'Who was this magestic beast?', input_html: { autocomplete: "new-password", class: 'profile_lookup' }
          .profile_lookup_list
        .row
          = f.input :profile_id, as: :hidden, input_html: { class: 'profile_lookup_id' }
        .row
          = f.input :role_type_id, collection: RoleType.all.group_by(&:department_name), as: :grouped_select, group_method: :last, group_label_method: :first, label: 'What did they do?', prompt: 'Tell us what monders they wrought'
        .row
          = f.submit 'Add Crew'
        .row
          = link_to 'Cancel', role.event_role? ? event_path(role.event) : tour_path(role.tour)
