- present @role do |role|
  - content_for :page_title do
    Add crew to
    = @title

  = simple_form_for(@role, url: roles_path, method: :post) do |f|
    = f.input :event_id, as: :hidden
    = f.input :tour_id, as: :hidden
    = f.input :profile_id, as: :hidden, input_html: { class: 'profile_lookup_id' }
    = f.input :role_type_id, as: :hidden, input_html: { class: 'role_type_lookup_id' }
    .panel.add-role-to-event
      .panel-head
        Add crew
      .panel-body
        .message
          = "You're adding cast or crew to #{@title}."
        .pane
          .row
            = f.input :profile_name, as: :string, label: 'Who was this?', required: true, placeholder: 'Who was this? eg: Alan Smithee', input_html: { autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off', class: 'profile_lookup' }
            .profile_lookup_list
          - if current_user.has_profile?
            .row
              .or
                %span Or
            .row
              = link_to 'It was you', '#', { class: 'button my-profile', 'data-name' => current_user.profile.title, 'data-id' => current_user.profile.id }
        .pane
          .row
            = f.input :role_type_name, as: :string, label: 'What did they do?', required: true, placeholder: 'What did they do? eg: Sound engineer', input_html: { autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off', class: 'role_type_lookup' }
            .role_type_lookup_list
        .row.submit-row
          = f.submit 'Add Crew'
        .row
          = link_to 'Cancel', role.event_role? ? event_path(role.event) : tour_path(role.tour)
