- present @event_type do |event_type|
  - content_for :page_title do
    New event type

  = simple_form_for(@event_type, url: event_types_path, method: :post) do |f|
    = f.input :event_department_id, as: :hidden
    .panel
      .panel-head
        Add event type
      .panel-body
        .message
          You're adding a new event type. Users select one of these when adding
          a new event.
        .row
          = f.input :name, as: :string, label: 'Name', placeholder: 'Give it a name'
        .row
          = f.submit 'Add event type'

  .panel
    .panel-head
      = "Existing Event Types (#{@department.event_types.count})"
    .panel-body
      - @department.event_types.each do |event_type|
        .row
          = event_type.title
          .pull-right
            = event_type.events.count
            events
