- if current_user&.admin?
  .panel.log.collapsible.collapsed
    .panel-head
      = "Log (#{logs.count})"
    .panel-body
      .table.list
        - logs.limit(50).each do |log|
          - present log do |log|
            .tr{valign: 'top'}
              .td
                = log.created_date
              .td
                = log.user&.email
              .td
                .div
                  = log.record_type
                = log.action
              .td
                - log.change_values&.each do |attribute, changes|
                  - next if attribute == 'updated_at'
                  .change_set
                    .change_title
                      = attribute
                    .change_values
                      .from{title: 'Before the change'}
                        = changes[0].blank? ? '~' : changes[0]
                      .to{title: 'After the change'}
                        = changes[1]
