.table.terminal
  - @logs.each do |log|
    - present log do |log|
      .tr
        .td
          = log.created_at.strftime('%H:%M:%S %d-%m-%y')
        .td
          - if log.user.present?
            = link_to log.user.email, logs_path(user_id: log.user_id)
          - else
            'System'
        .td.text-right{title: 'record type'}
          = log.model_link
        .td{title: 'action'}
          = log.action
        .td
          = log.change_summary
= paginate @logs
