.title-bar
  .page-ribbon{title: 'This product is still in BETA'}
    Beta
  .title
    %h1
      = link_to "CrewDB", root_path
    %h2
      Music, theatre, festivals and events artists and crew
  .search-form
    = simple_form_for(:search, url: search_global_path, method: :post) do |f|
      = f.input :query, as: :string, label: false, input_html: {value: @query_str}, placeholder: 'Search events, crew or venues'
      = f.submit 'Go', label: false, class: 'green-btn'
  .sub-menu
    %ul
      - if current_user.nil?
        %li
          = link_to "Sign in", new_user_session_path
      - else
        - if current_user.has_profile?
          %li
            = link_to "Profile", profile_home_path(username: current_user.profile.username)
          %li
            = link_to "Add work", profiles_add_role_path(id: current_user.profile.id)
        - else
          %li
            = link_to "Sign out", destroy_user_session_path, method: :delete
          %li
            = link_to "Add event", new_event_path
