!!!
%html
  %head
    / Meta, title, CSS, favicons, etc.
    %meta{:charset => "utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= yield(:title).presence || "The Events DB"

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: Rails.env.development? ? 'development' : 'production'}
    = render partial: 'layouts/title_bar'
    %p.notice{title: 'Dismiss'}
      = notice
    %p.alert{title: 'Dismiss'}
      = alert
    .scroll-to-top
    .page-content
      = yield
